<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
	<title>记账</title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
		integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<style>
		/* html{height: 100px;} */
		body {
			margin-bottom: 74px;
			color: #3a585f
		}

		.submit-btn {
			width: 100%;
			text-align: center;
			font-size: 40px;
			margin: 0px auto;
			display: block;
			background:rgb(71, 79, 90); 
			color:#EEEEEE; 
			border-radius: 0; 
			border:0; 
			padding: 0px;
		}
		.submit-btn:hover{
			background-color:#e65669;
			/*background: #0f9d58*/
		}

		.dlt-btn {
			background: #e4525e;
			color: #e6e6e6
		}
		.dlt-btn:hover {
			background: red;
			color: white;
		}
	</style>
</head>

<body>


	<div id="app">
		<div class="container-fluid">
			<h1>总消费:{{total}}美元 <span><button class="btn btn-lg dlt-btn" @click="remove_day">删除当天记录</button></span></h1>
			<div class="row">
				<div class="form-group col-sm-4">
					<label for="dateInput" class="col-form-label col-sm-12">日期</label>
					<div class="col-sm-12">
						<input v-model:value="date" type="date" class="form-control" id="dateInput">
						<small>每天都要记账!</small>
					</div>
					<label for="affiliated" class="col-form-label col-sm-12">想说的话</label>
					<div class="col-sm-12">
						<textarea v-model:value="costs.affiliated" rows=10 class="form-control"
							id="affiliated"></textarea>
					</div>
				</div>
				<div class="col-sm-8">
					<div v-if="costs.records.length===0">
						<h4>今天竟然没花钱?</h4>
					</div>
					<div v-else v-for="(record, index) in costs.records" class="form-group col-sm-12">
						<bar :record="record" :index=index @send-new="switchNew" @remove="remove(index)">
						</bar>
					</div>
					<div class="col-sm-12" style="text-align: center; color:#F4B400; text-shadow: 1px 1px #918d69;">
						<i class="fas fa-4x fa-plus-circle" @click="addNew"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">不能添加新条目</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>请先将已有的条目都填写完整.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">知道了</button>
				</div>
			</div>
		</div>
		
	</div>
	<div id="submit-btn" class="navbar fixed-bottom submit-btn">
			<button @click="submit" class="btn submit-btn">提交记录</button>
		</div>

</body>
<script>
	submit_btn = new Vue({
		el: "#submit-btn",
		methods: {
			submit() {
				app.costs.records = app.costs.records.filter((item, index, arr) => app.new_array[index]===false)
				//<!-- app.new_array = app.new_array.filter(item => item === false) -->
				to_submit = {date:app.date, costs:app.costs}
				if (app.costs.affiliated === "" && app.costs.records.length===0){
					alert('什么都没有提交个蛋蛋!')
					
				} else{
					axios.post('/api/set', to_submit).then(res => {
						alert('已提交')
					})
				}
				app.query()
				
			}
		}
	})
	Vue.component('bar', {
		data: function () {
			return {
				cost_com: {},
				type_com: {},
				item_com: {},
				options: [
					{ id: 1, value: "daily", text: "日常消费" },
					{ id: 2, value: "tex", text: "税" },
					{ id: 3, value: "onetime", text: "一次性" }
				],
			}
		},
		props: ['record', 'index'],
		updated: function () {
			this.upload()
		},
		methods: {
			upload() {
				var truethy = (this.record.cost === "" || parseFloat(this.record.cost) <= 0 || this.record.type === "")
				this.$emit("send-new", { "index": this.index, "value": truethy })
			}
		},
		template:
			`
		<div class= "input-group">
			<select class="custom-select" v-model="record.type">
				<option disabled selected value="">消费类型</option>
				<option v-for="opt in options" :value="opt.value">{{opt.text}}</option>
			</select>
			<div class="input-group-prepend">
				<span class="input-group-text">$</span>
			</div>
			<input type="number" step=0.01 class= "form-control"
				aria-label="cost" v-model:value="record.cost" aria-describedby="cst-addon1" />
			<input name="itemName" v-model:value="record.item" type="text"/>
			<button class="input-group-append" style="padding: 0; border-radius: 0; border:0">
				<span class="btn dlt-btn" @click="$emit('remove')">
				<i class="fas fa-minus-circle"></i>
				</span>
			</button>
		</div>`

	})

	app = new Vue({
		el: "#app",
		data: {
			costs: { records: [] },
			new_array: [],
			date: "",
			allowAdd: true
		},
		created: function () {
			this.date = "{{{{date}}}}"
			this.query()
		},
		watch: {
			date: function () {
				this.query()
			}
		},
		computed: {

			total: function () {
				return this.summ(this.costs)
			},
			submit_form: function () {
				return { date: this.date, costs: this.costs }
			},
		},
		methods: {
			remove_day(){
				var url = '/api/delete/'+this.date
				axios.post(url).then(res => {
					this.query()
				})
			},
			calcAllowAdd() {
				var tmpStatus = false
				for (var ind in this.costs.records) {
					tmpStatus = this.new_array[ind] || tmpStatus
					if (tmpStatus === true) return false
				}
				return true
			},
			query() {
				var vm = this
				var url = "/api/get/" + this.date
				axios.get(url).then(function (response) {
					if (response.data.status === false) {
						vm.costs = { "affiliated": "", records: [] }
						vm.new_array = []
						vm.allowAdd = true
						vm.addNew()
					} else {
						vm.new_array = []
						var tmp = response.data.costs
						for (var ind in tmp.records) {
							vm.new_array.push(false)
						}
						vm.costs = tmp
					}
				})
			},
			summ: function (costs) {
				var tmp = 0;
				for (var ind in costs.records) {
					if (costs.records[ind].cost === "" || costs.records[ind].cost === null) { continue }
					tmp += parseFloat(costs.records[ind].cost)
				}
				return tmp.toFixed(2)
			},
			addNew() {
				if (this.allowAdd) {
					this.costs.records.push({ "type": "", "cost": 0, "item": "" })
					this.new_array.push(true)
					this.allowAdd = false
				}
				else {
					$('#myModal').modal()
				}
			},
			switchNew(data) {
				this.new_array[data.index] = data.value
				this.allowAdd = this.calcAllowAdd()
			},
			remove(index) {
				this.new_array.splice(index, 1)
				this.costs.records.splice(index, 1)
			}
		}
	})
</script>

</html>
